<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALQLMayTinh.Properties.Settings.ComputerManagerConnectionString"
            connectionString="Data Source=4000_DUOC_TIEN\THANG;Initial Catalog=ComputerManager;Persist Security Info=True;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>